body {
	font-family: 'Arial';
}

header, section, footer, aside, nav, article, figure { 
	display: block; 
	min-width: 300px;
	max-width: 1024px;
}

article {
	font-size: 15px;
}

article ul {
	margin: 0;
	padding: 0;
}

article li {
	width: 120px;
	height: 230px;
	display: inline;
	text-align: center;
	list-style-type: none;
	border: 1px solid #000;
	float: left;
	margin: 5px;
	padding: 5px;
}

article img {
	height: 165px;
	width: 100px;
}

article a.tile img:last-child{display:none}
article a.tile:hover img:first-child{display:none}
article a.tile:hover img:last-child{display:inline-block}

footer {
	padding-top: 30px;
	text-align: center;
	clear: left;
}
